---
import '../styles/global.css'
---

<div class="container">
    <p id="yo" style="text-align: end; color: grey; margin-right: 2rem;">Made by Adam El Ouahabi</p>
    <div id="yo" class="hover-trigger">
        Visita mi GitHub
    </div>
    <div id="github-popup" class="github-popup">
        <p>¡Hola! Revisa mi repositorio:</p>
        <a href="https://github.com/ENERGETICKk" target="_blank" rel="noopener noreferrer">
            Mira en github.com/ENERGETICKk/
        </a>
    </div>
</div>

<style is:global>
#yo{
  color: #00ccff;
  font-size: 1rem;
  text-shadow: 0 0 5px #00ffff, 0 0 15px #3399ff;
  transition: all 0.3s ease;
  transform: scale(1);
}

#yo:hover{
  color: #00ffff;
  text-shadow: 0 0 15px #00ffff, 0 0 35px #3399ff;
  transform: ;
}

</style>